@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Fira Sans', sans-serif;
}

.btnPrimary{
    @apply bg-blue-500 flex items-center justify-center rounded-lg text-white
}
.itemBoxPrimary{
    @apply p-2 text-lg px-4 border-[1px] border-slate-300
}

.inputPrimary{
    @apply border-2 p-2 my-2 mb-6 bg-slate-100 border-slate-300 focus:outline-blue-500 rounded-md
}
.inputSecondary{
    @apply border-2 p-2 bg-slate-100 border-slate-300 focus:outline-blue-500 rounded-md
}

#openDialog{
    animation: openAnim 400ms ease-in-out;
}
#imgLoad{
    animation: openAnim 400ms ease-in-out;
}

#dropDownArrow{
    transition: all 0.1s ease-in-out;
}

@keyframes openAnim{
    0%{
        opacity: 0;
        scale: 0;
    }
    60%{
        scale: 1;
    }
    80%{
        scale: 0.9;
    }
    100%{
        scale: 1;
    }
}
@keyframes closeAnim {
    from{
        scale:1;
        opacity: 1;
    }
    to{
        scale:0;
        opacity: 0;
    }
}
